# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

 const API = 'https://api.themoviedb.org/3/movie/popular?api_key=be5b5b951aea3a7b6afe09c7d7c947b0';
    const [movies, setMovies] = useState([]);

     useEffect(() => {
        fetch(API)
            .then((response) => response.json())
            .then((data) => {
                console.log(data.results)
                setMovies(data.results)
            })
            .catch(error => {
                console.error('Error fetching movie data:', error);
            });
    }, [API])

    


